/*заголовок*/
h2 {
    margin-left: 80px;
    font-family: 'Segoe UI';
    font-size: 60px;
    padding-top: 20px;
}

/*контейнер для секций задач*/
.container-for-sections {
    display: flex;
    justify-content: space-between;
}

/*контейнер для кнопок*/
.container-for-buttons{
    display: flex;
    justify-content: space-between;
}

/*верхние кнопки*/
.topButtons {
    font-family:'Segoe UI';
    transition: transform 0.3s ease;
    border: none;
    opacity: 0.7;
    width: 22vw;
    height: 8vh;
    cursor: pointer;
    border-radius: 40px;
    font-size: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.topButtons:hover {
    opacity: 1;
    transform: scale(1.15);
}

#generalPage {
    background-color: rgb(255, 212, 238);
    color: rgb(255, 80, 185);
}

#addTask {
    background-color: rgb(229, 242, 255);
    color:rgb(41, 84, 226);
}

#todoSection {
    background-color: rgb(255, 249, 236);
    color: rgb(233, 173, 42);
}

#inprogressSection {
    background-color: rgb(245, 236, 255);
    color: rgb(162, 81, 255);
}

#doneSection {
    background-color: rgb(234, 255, 234);
    color: rgb(32, 230, 32);
}

/*секция для задач*/
.section{
    padding: 30px;
    border-radius: 40px;
    display: flex; 
    font-family:'Segoe UI';
    font-size: 3vw;
    font-weight: 700;
    width: 23vw;
    height: 47vh; 
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

body {
    background-color:  aliceblue;
}

header {
    margin: 20px;
    padding-bottom: 10px;
    padding-right: 40px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 1, 0.15);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
}

main {
    margin: 20px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 1, 0.15);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    padding-right: 40px;
}




/*контейнер для добавленных задач*/
#textContainer {
    margin-top: 20px;
}

/*добавленная задача*/
.text-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    font-family:'Segoe UI';
    border-radius: 40px;
}

/*окно для добавления задачи*/
#windowForTask {
    margin: 20px;
    text-align: center;
    font-family:'Segoe UI';
}

/*кнопка для добавления задачи*/
#addButton {
    background-color: rgb(229, 242, 255);
    color:rgb(41, 84, 226);
    width: 150px;
    cursor: pointer;
    font-weight: bold;
}

/*окно для ввода описания задачи*/
input {
    background-color: #f0f0f0;
}

/*кнопки отправки*/
.inputButtons {
    border: none;
    margin: 20px;
    border-radius: 40px;
    padding: 30px;
    outline:none;
    font-size: 17px;
}
